[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Antonio Rodriguez
	email = antonioinorge@hotmail.com
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/antonio/.gitignore_global
	editor = nvim
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
    conflictstyle = zdiff3
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED \
          -c '$wincmd w' -c 'wincmd J'
